@import '@extension/ui/global.css';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* hide scrollbars in popup */
}

body {
  /* MetaMask-like default popup size */
  width: 380px;
  height: 600px;
}
